<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Create Organ</title>
    <!-- link to the last version of bablon -->
    <script src="{{STATIC_URL}}babylon.js"></script>
    <script src="{{STATIC_URL}}cannon.js"></script>
    <script src="{{STATIC_URL}}jquery.js"></script>
     
<style>
html, body {
        overflow: hidden;
        width   : 100%;
        height  : 100%;
        margin  : 0;
        padding : 0;
    }

    #renderCanvas {
        width   : 100%;
        height  : 100%;
        touch-action: none;
    }
</style>
    </head>
    <body>
        
       <div style="display:none">
    <input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token"/>
</div>
        <input type="text" name="textbox1" id="textbox1" />
            <input type="submit" name="button" id="button1" onclick="mySearch()" value="Search" />
            
    	 <canvas id="renderCanvas"></canvas>
         <script> 
         function mySearch()
        {
            alert(document.getElementById('textbox1').value);
        }
         window.addEventListener('DOMContentLoaded', function() {
            var canvas = document.getElementById('renderCanvas');
            var engine = new BABYLON.Engine(canvas, true);
            
/////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////
            //Below is where you change code
          ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


           //put class code below
           ///////


     /**      
var Point = function(x,y,z) 
{
    this.x = x;
    this.y = y;
    this.z = z;
    this.on = false;
}

var update = function(x,y,z,material,on)
{
    this.x = x;
    this.y = y;
    this.z = z;
    this.on = on;
    this.material = material;
}

var getLocation = function() {
   return [this.x,this.y,this.z ]; 
}

var isOn = function() {
    return this.on;
} 

Point.prototype.constructor = Point;
Point.prototype.update = update;
Point.prototype.getLocation = getLocation;
Point.prototype.isOn = isOn;

**/

var Organ = function(points) 
{
   this.points = points;
}

var add_point = function(point)
{
   this.points.push(point);
} 

var get_points = function()
{
   return this.points;
}

Organ.prototype.constructor = Organ;
Organ.prototype.add_point = add_point;
Organ.prototype.get_points = get_points;
           
           ///////
           //put class code above
           
           
     var createScene = function () {

    // This creates a basic Babylon Scene object (non-mesh)
    var scene = new BABYLON.Scene(engine);
	scene.enablePhysics();

    var camera = new BABYLON.ArcRotateCamera("Camera", 3 * Math.PI / 2, Math.PI / 2, 30, BABYLON.Vector3.Zero(), scene);

	camera.attachControl(canvas, true);
	

    // This creates a light, aiming 0,1,0 - to the sky (non-mesh)
    var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);

    // Default intensity is 1. Let's dim the light a small amount
    light.intensity = 0.7;

    var subdivisions = 10
	
	var sunsSize = 1;
	var sunsRadius = sunsSize / 2;
	var sun = BABYLON.Mesh.CreateSphere("sphere1", 10, sunsSize, scene);
	sun.on = true;
	
	var sun2;
	
	var points = [];
	points.push(sun)
	var thisOrgan = new Organ(points);
	
	var selected_points = []
	
	var mat = new BABYLON.StandardMaterial("emissive mat",scene);
	mat.checkReadyOnlyOnce = true;
	mat.emissiveColor = new BABYLON.Color3(0,1,0);
	
	var mat2 = new BABYLON.StandardMaterial("emissive mat",scene);
	mat2.checkReadyOnlyOnce = true;
	mat2.emissiveColor = new BABYLON.Color3(0,0,1);
	
	// Debug layer
	scene.debugLayer.show(false);
	
	scene.debugLayer.axisRatio = 0.04; // 4% of canvas width
	
	scene.debugLayer.shouldDisplayLabel = function(node) {
		return node.name.indexOf("*") === -1;
	}
	
	scene.debugLayer.shouldDisplayAxis = function(mesh) {
		return mesh.name === "sphere1";
	}
		
	sun.actionManager = new BABYLON.ActionManager(scene);
		sun.actionManager.registerAction(
		    new BABYLON.SwitchBooleanAction(BABYLON.ActionManager.OnPickTrigger, sun, "on"))
			 //.then(new BABYLON.SwitchBooleanAction(BABYLON.ActionManager.OnPickTrigger, sun, "on"));
		
	scene.actionManager = new BABYLON.ActionManager(scene);
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "x") {
		    points.forEach(function(p) {
    		if (p.on) {
    		   p.position.x = p.position.x - 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == ".") {
            points.forEach(function(p) {
    		if (p.on) {
    		   p.position.x = p.position.x + 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "t") {
            points.forEach(function(p) {
    		if (p.on) {
    		   p.position.y = p.position.y - 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "y") {
            points.forEach(function(p) {
    		if (p.on) {
    		   p.position.y = p.position.y + 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "z") {
            points.forEach(function(p) {
    		if (p.on) {
    		   p.position.z = p.position.z - 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "/") {
            points.forEach(function(p) {
    		if (p.on) {
    		   p.position.z = p.position.z + 1;
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "a") {
		    points.forEach(function(p) {
    		if (p.on) {
    		   p.on = false;
    		}
    		});
		    var person = prompt("Please name the location", "eg coronary sinus");
            while (person == null) {
                    person = prompt("Please name the location", "eg coronary sinus");
                }
		    sun2 = BABYLON.Mesh.CreateSphere(person, 10, sunsSize, scene);
	        sun2.on =true;
	        sun2.actionManager = new BABYLON.ActionManager(scene);
		    sun2.actionManager.registerAction(
		    new BABYLON.SwitchBooleanAction(BABYLON.ActionManager.OnPickTrigger, sun2, "on"))
	        points.push(sun2);
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "d") {
            points.forEach(function(p) {
    		if (p.on) {
    		    if (p.name == "sphere1")
    		    {
    		        alert("you cannot delete sphere1")
    		    }
    		    else
    		    {
    		        points.splice(points.indexOf(p), 1);
    		        p.dispose();
    		    }
    		}
    		});
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "s") {
		    var names =  "";
		    var positions = "";
		    var selected = "";
		    
		    points.forEach(function(p) {
		        names = names.concat(String(p.name)).concat("||");
		        positions = positions.concat(String(p.position)).concat("||");
		        selected = selected.concat(String(p.on)).concat("||");
		    });
		    
		 $.ajax({
          url: '../save2/',
          type: "POST",
          data: {
              names: names,
              positions: positions,
              selected: selected,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          }, 
          success: function(response) {
               alert(response);
          },
          //complete: function(response) {document.getElementById("answer").value = response;},
          error: function(xhr, textStatus, thrownError) {}
      });
               
                }  
	}));
		
	scene.registerBeforeRender(function () {
    	    points.forEach(function(p) {
    		if (p.on) {
    		   p.material = mat; 
    		}
    	    else
    	    {
    	        p.material = mat2;
    	    }
    		});
	});
	
    return scene;

};

/////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////
            //above is where you change code
          ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

    var scene = createScene();
    engine.runRenderLoop(function() {
    scene.render();
});
window.addEventListener('resize', function() {
    engine.resize();
   });
});
         
         </script>
    </body>
</html>

