<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>Create Organ</title>
    <!-- link to the last version of bablon -->
    <script src="{{STATIC_URL}}babylon.js"></script>
    <script src="{{STATIC_URL}}cannon.js"></script>
<style>
html, body {
        overflow: hidden;
        width   : 100%;
        height  : 100%;
        margin  : 0;
        padding : 0;
    }

    #renderCanvas {
        width   : 100%;
        height  : 100%;
        touch-action: none;
    }
</style>
    </head>
    <body>
    	<canvas id="renderCanvas"></canvas>
         <script> 
         window.addEventListener('DOMContentLoaded', function() {
            var canvas = document.getElementById('renderCanvas');
            var engine = new BABYLON.Engine(canvas, true);
            
/////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////
            //Below is where you change code
          ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////


           //put class code below
           ///////


           
var Point = function(x,y,z) 
{
    this.x = x;
    this.y = y;
    this.z = z;
    this.on = false;
}

var update = function()
{
    console.log("this updates points")
}

var getLocation = function() {
   return [this.x,this.y,this.z, this.on]; 
}

Point.prototype.constructor = Point;
Point.prototype.update = update;
Point.prototype.getLocation = getLocation;


var Organ = function(points) 
{
   this.points = points 
}

var add_point = function(point)
{
   this.points.push(point)
} 

var get_points = function()
{
   return this.points
}

Organ.prototype.constructor = Organ;
Organ.prototype.add_point = add_point;
Organ.prototype.get_points = get_points;
           
           
           ///////
           //put class code above
           
           
     var createScene = function () {

    // This creates a basic Babylon Scene object (non-mesh)
    var scene = new BABYLON.Scene(engine);
	scene.enablePhysics();

    var camera = new BABYLON.ArcRotateCamera("Camera", 3 * Math.PI / 2, Math.PI / 2, 30, BABYLON.Vector3.Zero(), scene);

	camera.attachControl(canvas, true);
	

    // This creates a light, aiming 0,1,0 - to the sky (non-mesh)
    var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);

    // Default intensity is 1. Let's dim the light a small amount
    light.intensity = 0.7;

    var subdivisions = 10
	
	var sunsSize = 1;
	var sunsRadius = sunsSize / 2;
	var sun = BABYLON.Mesh.CreateSphere("sphere1", 10, sunsSize, scene);
	sun.on =false;
	
	
	var points = [];
	points.push(new Point(sun.position.x, sun.position.y, sun.position.z, sun.on))
	var thisOrgan = new Organ(points);
	
	var mat = new BABYLON.StandardMaterial("emissive mat",scene);
	mat.checkReadyOnlyOnce = true;
	mat.emissiveColor = new BABYLON.Color3(0,1,0);
	
	var mat2 = new BABYLON.StandardMaterial("emissive mat",scene);
	mat2.checkReadyOnlyOnce = true;
	mat2.emissiveColor = new BABYLON.Color3(0,0,1);
		
	
	sun.actionManager = new BABYLON.ActionManager(scene);
		sun.actionManager.registerAction(
		    new BABYLON.SwitchBooleanAction(BABYLON.ActionManager.OnPickTrigger, sun, "on"))
			 //.then(new BABYLON.SwitchBooleanAction(BABYLON.ActionManager.OnPickTrigger, sun, "on"));
		
	scene.actionManager = new BABYLON.ActionManager(scene);
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "x") {
            sun.position.x = sun.position.x - 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == ".") {
            sun.position.x = sun.position.x + 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "t") {
            sun.position.y = sun.position.y - 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "y") {
            sun.position.y = sun.position.y + 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "z") {
            sun.position.z = sun.position.z + 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "/") {
            sun.position.z = sun.position.z - 1;
	      }
	}));
	scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
		if (evt.sourceEvent.key == "a") {
		    var sun2 = BABYLON.Mesh.CreateSphere("sphere2", 10, sunsSize, scene);
	        sun2.on =false;
		    thisOrgan.add_point()
	      }
	}));
		
	scene.registerBeforeRender(function () {
		if (sun.on) {
			sun.material = mat;
		}
	    else
	    {
	        sun.material = mat2;
	    }
		});
	
    return scene;

};

/////////////////////////////////////////////////////////////////////////////////////////////////
          ///////////////////////////////////////////////////////////////////
            //above is where you change code
          ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////

    var scene = createScene();
    engine.runRenderLoop(function() {
    scene.render();
});
window.addEventListener('resize', function() {
    engine.resize();
   });
});
         
         </script>
    </body>
</html>




///Next is to move only the selected objects. 