<html>
    <head>
        <style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

</style>
 <script type="text/javascript" src="{{STATIC_URL}}d3.js"></script>
    </head>
    <body>
        <div>
            <img src="{{MEDIA_URL}}ekg12.gif" alt="ekg modiefied" style="width:304px;height:228px;">
           <img src="{{MEDIA_URL}}ekg13.gif" alt="ekg modiefied2" style="width:304px;height:228px;"> 
        </div>
        <div class='content'>
          <!-- /the chart goes here -->
        </div>
        <script type="text/javascript"> 
            var data = {{pixels}};
        </script>
        <script type="text/javascript" src="{{STATIC_URL}}scatterchart.js"></script>
        {% for p in pixels %}
            {{p}}
        {% endfor %}
    </body>
</html>