<div>Welcome to my website</div>
<ul data-submenu="horizontal">
<li><a href="{% url 'manager' %}">Manager</a></li>
<li><a href="{% url 'create_organ' %}" rel="nofollow">Organ Creator</a></li>
<li><a href="{% url 'planning' %}" rel="nofollow">planning</a></li>
<li><a href="{% url 'finances' %}" rel="nofollow">finances</a></li>
<li><a href="{% url 'ekg' %}" rel="nofollow">ekg</a></li>
<li><a href="{% url 'training' %}" rel="nofollow">training</a></li>

</ul>
<div><a rel="group" data-ss="imagemodal" data-href="http://cdn.simplesite.com/i/c7/c1/284289731354345927/i284289739476929825._szw1280h1280_.jpg"><img src="http://cdn.simplesite.com/i/c7/c1/284289731354345927/i284289739476929825._szw1280h1280_.jpg" alt="" /></a></div>