<!DOCTYPE html >
<html>

<style>
body {
    font: 11px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.dot {
    fill: steelblue;
}
.selected {
    fill: red;
}
.dep_sel {
    fill: green;
}
.not_selected {
    fill: black;
}

.organ {
    fill: green;
}
.specialty {
    fill: red;
}
.body_point {
    fill: blue;
}
.condition {
    fill: rgb(255, 128, 0);
}
.finding {
    fill: purple;
}
.joining {
    fill: rgb(255,105,180);
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
}
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
#divPlot {
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 0px;
    margin-left: 150px;
}
#div3Plots {
    position: absolute;
    width: 900px;
    height: 325px;
    margin-top: 310px;
    margin-left: 0px;
}
#divSpec {
    width: 300px;
    position: absolute;
    margin-top: 50px;
    height: 300px;
}
#divOrg {
    width: 300px;
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
    height: 300px;
}
#divSearch {
    width: 300px;
    position: absolute;
    margin-left: 500px;
    height: 16px;
}
#divResults {
    width: 120px;
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    height: 20px;
}
#divAdd {
    margin: 0px;
    width: 100px;
    position: absolute;
    height: 20px;
    margin-top: 250px;
}
#organ_add_textbox {
    margin-left: 500px;
}
#add_text
{
    width: 1000px;
    height: 100px;
    word-wrap: true;
}
#newText
{
    position: absolute;
    width: 400px;
    height: 3000px;
    margin-top: 600px;
    margin-left: 0px;
}
#selectingText
{
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 600px;
    margin-left: 0px;
}
#text_details1
{
    position: absolute;
    width: 420px;
    height: 275px;
    margin-top: 30px;
    margin-left: 700px;
    background-color:black;
}
#text_details2
{
    position: absolute;
    width: 210px;
    height: 275px;
    margin-top: 305px;
    margin-left: 910px;
    background-color:steelblue;
}
</style>


<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>3D Scatter Plot</title>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://x3dom.org/x3dom/dist/x3dom-full.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Manager.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Plot.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Plot3d.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Specialty.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Organ.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Text_Adder.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}wear_protection.js"></script>
    <script type="text/javascript">
    // Create a 3d scatter plot within d3 selection parent.

    //can all of these be variables in manager
    var body_part = [];
    var selected_parts = [];
    var selected_specs = [];
    var selected_orgs = [];
    var first_click = 1;
    var new_point = {};
    var manager;
    var add_mode = false;
    var spec_svg;
    var specialties = [];
    var organs = [];
    var body_points = [];
    var p3d;
    var adding_many_points = false
    var points_to_add = []

    function scatterPlot3d(parent) {
        //need a way to send all the data with first render

            queue()
            .defer(d3.json, "{% url "send_data"  %}")
            .defer(d3.json, "{% url "send_sp"  %}")
            .defer(d3.json, "{% url "send_orgs"  %}")
            .await(function(error, data1, data2, data3) {
                if(data1!=undefined)
                {
                    data1.forEach(function(d) {
                        d.id = +d.id;
                        d.x = +d.cp_x;
                        d.y = +d.cp_y;
                        d.z = +d.cp_z;
                        d.organ_ids = d.organs;
                        d.organ_names = [];
                        d.organ_ids.forEach(function(o_id) {
                            data3.forEach(function(organ) {
                                if (o_id == organ.id) {
                                    d.organ_names.push(organ.name)
                                }
                            });
                        });
                        d.specialty_ids = d.specialties;
                        d.specialty_names = [];
                        d.specialty_ids.forEach(function(sp_id) {
                            data2.forEach(function(spec) {
                                if (sp_id == spec.id) {
                                    d.specialty_names.push(spec.name)
                                }
                            });
                        });
                        d.select = false;
                        d.dep_sel = false;
                    });
                    //spec=data2
                    data2.forEach(function(d) {
                        d.id = +d.id;
                        d.name = d.name;
                        d.organ_ids = d.organs;
                        d.select = false;
                        d.dep_sel = false;
                    });
                    //organs=data3
                    data3.forEach(function(d) {
                        d.id = +d.id;
                        d.name = d.name;
                        d.specialties = [];
                        data2.forEach(function (sp)
                        {
                            sp.organs.forEach(function(o)
                            {
                                if(d.id == o)
                                {
                                    d.specialties.push(sp);
                                }
                            });
                        });
                        d.snomed_ct_code = d.snomed_ct_code;
                        d.select = false;
                        d.dep_sel = false;
                    });
                    data2.forEach(function(d){
                        d.organs = [];
                        d.organ_ids.forEach(function(o_id)
                        {
                            data3.forEach(function(o_d)
                            {
                                if(o_d.id == o_id)
                                {
                                    d.organs.push(o_d)
                                }
                            });
                        });
                    });
                    body_points = data1;
                    specialties = data2;
                    organs = data3;
                    body_part = body_points;
                    manager = new Manager();
                    p3d.initializePlot();
                }
            })
            //this happens before the part above
            p3d = new Plot3d(parent, body_part);
            p3d.initializePlot();
            setInterval(p3d.updateData, p3d.defaultDuration);
    }

    function add_button() {
        add_mode = true;
        d3.select("#select_btn").classed("button", false);
        document.getElementById("select_btn").disabled = false;
        d3.select("#add_btn").classed("button", true);
        document.getElementById("add_btn").disabled = true;
        document.getElementById("save_btn").disabled = false;
        document.getElementById("divAdd").style.visibility = "visible";
    }

    function select_button() {
        add_mode = false;
        d3.select("#select_btn").classed("button", true);
        document.getElementById("select_btn").disabled = true;
        d3.select("#add_btn").classed("button", false);
        document.getElementById("add_btn").disabled = false;
        document.getElementById("save_btn").disabled = true;
        document.getElementById("divAdd").style.visibility = "hidden";
        manager.update();
    }

    function save_function() {
        var new_id = body_part.length+1;
        $.ajax({
            url: 'save',
            type: "POST",
            data: {
                id: new_id,
                name: document.getElementById("add_name").value,
                snomed: document.getElementById("add_snomed").value,
                x: new_point.x,
                y: new_point.y,
                z: new_point.z,
                //sp: list_of_sp,
                //or: list_of_or,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById("organ_add_textbox").value = response;

            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });
    }

    function search_function() {
        $.ajax({
            url: 'search',
            type: "POST",
            data: {
                id: new_id,
                name: document.getElementById("add_name").value,
                snomed: document.getElementById("add_snomed").value,
                x: new_point.x,
                y: new_point.y,
                z: new_point.z,
                //sp: list_of_sp,
                //or: list_of_or,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById("organ_add_textbox").value = response;

            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });
    }

    function delete_button() {
        var r = confirm("Are you sure you want to Delete selected item(s). You will lose all relations as well!");
        if (r == true) {
            selected_parts.forEach(function(sp) {
                $.ajax({
                    url: 'delete/',
                    type: "POST",
                    data: {
                        id: sp.id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        //debugger
                        document.getElementById("organ_add_textbox").value = response;
                    },
                    complete: function() {},
                    error: function(xhr, textStatus, thrownError) {}
                });
            })
        }
    }


    function add_relation() {

        if (selected_parts.length == 0 && selected_orgs.length == 0 && selected_specs.length == 0) {
            alert("There is nothing selected.")
        } else if (selected_parts.length != 0 && selected_orgs.length == 0 && selected_specs.length == 0) {
            alert("You only have points selected. You may be able to group these...later")
        } else if (selected_parts.length == 0 && selected_orgs.length != 0 && selected_specs.length == 0) {
            alert("You only have organs selected.")
        } else if (selected_parts.length == 0 && selected_orgs.length == 0 && selected_specs.length != 0) {
            alert("You only have specialties selected")
        } else if (selected_parts.length != 0 && selected_orgs.length != 0 && selected_specs.length == 0) {
            selected_parts.forEach(function(p) {
                selected_orgs.forEach(function(or) {
                    $.ajax({
                        url: 'add_relation/',
                        type: "POST",
                        data: {
                            items: "p,or",
                            p_id: p.id,
                            or_id: or.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else if (selected_parts.length == 0 && selected_orgs.length != 0 && selected_specs.length != 0) {
            selected_specs.forEach(function(sp) {
                selected_orgs.forEach(function(or) {
                    $.ajax({
                        url: 'add_relation/',
                        type: "POST",
                        data: {
                            items: "or,sp",
                            or_id: or.id,
                            sp_id: sp.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else if (selected_parts.length != 0 && selected_orgs.length == 0 && selected_specs.length != 0) {
            selected_parts.forEach(function(p) {
                selected_specs.forEach(function(sp) {
                    $.ajax({
                        url: 'add_relation/',
                        type: "POST",
                        data: {
                            items: "p,sp",
                            p_id: p.id,
                            sp_id: sp.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else
        {
            selected_parts.forEach(function(p) {
                selected_specs.forEach(function(sp) {
                    selected_orgs.forEach(function(or) {
                        $.ajax({
                            url: 'add_relation/',
                            type: "POST",
                            data: {
                                items: "p,sp,or",
                                p_id: p.id,
                                sp_id: sp.id,
                                or_id: or.id,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                alert(response);
                            },
                            complete: function() {},
                            error: function(xhr, textStatus, thrownError) {}
                        });
                    });
                });
            });
        }
    }

    function remove_relation() {

        if (selected_parts.length == 0 && selected_orgs.length == 0 && selected_specs.length == 0) {
            alert("There is nothing selected.")
        } else if (selected_parts.length != 0 && selected_orgs.length == 0 && selected_specs.length == 0) {
            alert("You only have points selected. You may be able to group these...later")
        } else if (selected_parts.length == 0 && selected_orgs.length != 0 && selected_specs.length == 0) {
            alert("You only have organs selected.")
        } else if (selected_parts.length == 0 && selected_orgs.length == 0 && selected_specs.length != 0) {
            alert("You only have specialties selected")
        } else if (selected_parts.length != 0 && selected_orgs.length != 0 && selected_specs.length == 0) {
            selected_parts.forEach(function(p) {
                selected_orgs.forEach(function(or) {
                    $.ajax({
                        url: 'remove_relation/',
                        type: "POST",
                        data: {
                            items: "p,or",
                            p_id: p.id,
                            or_id: or.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else if (selected_parts.length == 0 && selected_orgs.length != 0 && selected_specs.length != 0) {
            selected_specs.forEach(function(sp) {
                selected_orgs.forEach(function(or) {
                    $.ajax({
                        url: 'remove_relation/',
                        type: "POST",
                        data: {
                            items: "or,sp",
                            or_id: or.id,
                            sp_id: sp.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else if (selected_parts.length != 0 && selected_orgs.length == 0 && selected_specs.length != 0) {
            selected_parts.forEach(function(p) {
                selected_specs.forEach(function(sp) {
                    $.ajax({
                        url: 'remove_relation/',
                        type: "POST",
                        data: {
                            items: "p,sp",
                            p_id: p.id,
                            sp_id: sp.id,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response) {
                            alert(response);
                        },
                        complete: function() {},
                        error: function(xhr, textStatus, thrownError) {}
                    });
                });
            });
        } else
        {
            selected_parts.forEach(function(p) {
                selected_specs.forEach(function(sp) {
                    selected_orgs.forEach(function(or) {
                        $.ajax({
                            url: 'remove_relation/',
                            type: "POST",
                            data: {
                                items: "p,sp,or",
                                p_id: p.id,
                                sp_id: sp.id,
                                or_id: or.id,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function(response) {
                                alert(response);
                            },
                            complete: function() {},
                            error: function(xhr, textStatus, thrownError) {}
                        });
                    });
                });
            });
        }
    }

function add_text_function()
{
    manager.text_adder.add_text(document.getElementById("add_text").value, [document.getElementById("add_main_topic").value]);
    document.getElementById("selectingText").style.visibility = "visible";
    document.getElementById("newText").style.visibility = "hidden";
}

function add_stuff_function()
{
    //var new_things_to_add = // when you don't find them already existing.
    // decide if they already exist


    var names = manager.text_adder.getType("body_point");
    manager.add_points_with_names(names);

    points_to_add = names.toString().split(',');
    document.getElementById("add_name").value = points_to_add[points_to_add.length-1];

    $.ajax({
            url: 'find_snomed/',
            type: "POST",
            data: {
                name: document.getElementById("add_name").value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById("add_snomed").value = response;
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });

    
    // you can't do the ajax here unless you don't have body_points
    /**
    $.ajax({
            url: 'add_items/',
            type: "POST",
            data: {
                specialties: manager.text_adder.getType("specialty").toString(),
                organs: manager.text_adder.getType("organ").toString(),
                body_points: manager.text_adder.getType("body_point").toString(),
//                snomed: //get these with capserjs,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                alert(response);

            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });
    **/
    document.getElementById("selectingText").style.visibility = "hidden";
    document.getElementById("newText").style.visibility = "hidden";
}

function go_back()
{
    document.getElementById("selectingText").style.visibility = "hidden";
    document.getElementById("newText").style.visibility = "visible";
    manager.text_adder.clear();
}

function search_function()
{
    $.ajax({
            url: 'search/',
            type: "POST",
            data: {
                search_box: document.getElementById("search_textbox").value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById("add_main_topic").value = document.getElementById("search_textbox").value;
                document.getElementById("add_text").value = response;
                add_text_function();
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });
}

function guess_function()
{
    guess_text_function();
}

function guess_text_function()
{
    $.ajax({
            url: 'guess/',
            type: "POST",
            data: {
                words: manager.text_adder.words.join(" "),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log(response);
                re = response.split(" ");
                re.splice(0,1);
                counter = 0;
                re.forEach(function (r)
                {
                    if(r == "yes")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "red"
                    }
                    else
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "blue"
                    }
                    counter = counter + 1;
                });
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}

function teach_function()
{
    $.ajax({
            url: 'teach/',
            type: "POST",
            data: {
                words: manager.text_adder.words.join(" "),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log(response);
                re = response.split(" ");
                re.splice(0,1);
                counter = 0;
                re.forEach(function (r)
                {
                    if(r == "yes")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "red"
                    }
                    else
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "blue"
                    }
                    counter = counter + 1;
                });
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}
</script>
<link rel="stylesheet" type="text/css" href="http://www.x3dom.org/download/dev/x3dom.css" />
</head>

<body>
    <div id="divSearch" align="right">
        <input type="text" id="search_textbox" name="search_textbox" value="search">
        <input type="submit" id="search_button" name="search_button" value="Search" onclick="search_function()">
    </div>
    <div id="divSpec"></div>
    <div id="divOrg"></div>
    <div id="divResults" style="visibility: hidden" align="right" style="width:100px">
        These are the results
    </div>
    <div id="divPlot">
        {% csrf_token %}
        <input type="submit" name="button" id="select_btn" onclick="select_button()" value="select" class="button" disabled="true" />
        <input type="submit" name="button" id="add_btn" onclick="add_button()" value="add" />
        <input type="submit" name="button" id="delete_btn" onclick="delete_button()" value="delete" />
        <input type="submit" name="button" id="add_relation" onclick="add_relation()" value="add relation" />
        <input type="submit" name="button" id="remove_relation" onclick="remove_relation()" value="remove relation" />
        <input type="submit" name="button" id="save_btn" onclick="save_function()" value="save" />
    </div>
    <div id="div3Plots">
    </div>
    <div id="divAdd" style="visibility: hidden">
        <!-- Write your comments here -->
        <!--<input type="text" id="specialty_add_textbox" value="specialty">
        <input type="submit" id="add_specialty_button" name="add_specialty_button" value="Add Specialty"> -->
        <input type="text" id="add_name" name="name" value="name">
        <input type="text" id="add_snomed" name="snomed" value="snomedct code">
        <!-- <input type="text" id="organ_add_textbox" name="organ" value="organ">
        <input type="submit" id="add_organ_button" name="add_organ_button" value="Add Organ"> -->
    </div>
    <div id="selectingText" style="visibility: hidden">
        <input type="submit" id="guess_button" name="guess_button" value="Guess" onclick="guess_function()">
        <input type="submit" id="go_back" name="go_back_button" value="Go Back" onclick="go_back()">
        <input type="submit" id="add_stuff" name="add_stuff_button" value="Add Stuff" onclick="add_stuff_function()">
    </div>
    <div id="newText" style="visibility: visible">
        <input type="text" id="add_main_topic">
        <br>
        <textarea type="textarea" cols="40" rows="10" id="add_text"></textarea>
        <input type="submit" id="add_text_button" name="add_text_button" value="Add Text" onclick="add_text_function()">
    </div>
    <div id="text_details1" style="visibility: visible">
    </div>
    <div id="text_details2" style="visibility: visible">
    </div>
    <div style="display:none">
        <input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token" />
    </div>
    <script>
    d3.select('html').style('height', '100%').style('width', '1150px');
    d3.select('body').style('height', '100%').style('width', '1150px');
    d3.select('save_btn').on("click", save_function);
    scatterPlot3d(d3.select('#divPlot'));
    </script>
</body>

</html>