<html>
    <head>
        <style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

</style>
<script type="text/javascript" src="{{STATIC_URL}}d3.js"></script>
<script src="{{STATIC_URL}}jquery.js"></script>
<script src="{{STATIC_URL}}three.min2.js"></script>
<script src="{{STATIC_URL}}d3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}Text_Adder.js"></script>

<script src="{{STATIC_URL}}protector.js"></script>
<script src="{{STATIC_URL}}CanvasRenderer.js"></script>

<script src="{{STATIC_URL}}stats.min.js"></script>
<script>
    var text_adder = new Text_Adder();
    var text_adder2 = new Text_Adder();
</script>

</head>
    
<body>
<script type="text/javascript">
	function return_target() {
      $.ajax({
          url: '../train/',
          type: "POST",
          data: {
              target: document.getElementById("target").value,
              csrfmiddlewaretoken: '{{ csrf_token }}'
          }, 
          success: function(response) {
              document.getElementById("answer").value = response;
          },
          //complete: function(response) {document.getElementById("answer").value = response;},
          error: function(xhr, textStatus, thrownError) {}
      });
  }
  
  function search_function()
{
    $.ajax({
            url: '../search/',
            type: "POST",
            data: {
                search_box: document.getElementById("search_textbox").value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById("add_main_topic").value = document.getElementById("search_textbox").value;
                document.getElementById("add_text").value = response;
                add_text_function();
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {}
        });
}

function guess_function()
{
    guess_text_function();
}

function guess_text_function()
{
    $.ajax({
            url: '../guess',
            type: "POST",
            data: {
                words: text_adder.words.join(" ").replace(/[^\w\s]|_/g, function ($1) { return ' ' + $1 + ' ';}).replace(/[ ]+/g, ' '),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log(response);
                re = response.split(" ");
                re.splice(0,1);
                counter = 0;
                re.forEach(function (r)
                {
                    if(r == "yes")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "red";
                    }
                    else
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "blue";
                    }
                    counter = counter + 1;
                });
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}

//the idea here is to have text displayed and guessed at the same time. 
// you don't want to have to separate these things. 
//make a new training that is training2. 

function guess_text2_function()
{
    $.ajax({
            url: '../g2',
            type: "POST",
            data: {
                words: text_adder2.words.join(" ").replace(/[^\w\s]|_/g, function ($1) { return ' ' + $1 + ' ';}).replace(/[ ]+/g, ' '),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                console.log(response);
                re = response.split(" ");
                re.splice(0,1);
                counter = 0;
                re.forEach(function (r)
                {
                    if(r == "neuro")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "rgb(255, 128, 0)";
                    }
                    else if(r == "cards")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "red";
                    }
                    else if(r == "pulm")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "green";
                    }
                    else if(r == "gi")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "purple";
                    }
                    else if(r == "heme")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "rgb(255,105,180)";   
                    }
                    else if(r == "renal")
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "blue";   
                    }
                    else
                    {
                        document.getElementById("word_label_" + counter.toString()).style.fill = "black";
                    }
                    counter = counter + 1;
                });
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}

function teach_function()
{
    tt = ""
    counter=0;
    text_adder.words.forEach(function (r)
    {
        if (document.getElementById("word_label_" + counter.toString()).style.fill == "red")
        {
            tt = tt + " " + "yes";
        }
        else if(document.getElementById("word_label_" + counter.toString()).style.fill == "blue")
        {
            tt = tt + " " +  "no";
        }
        counter = counter + 1;
    });
    $.ajax({
            url: '../teach/',
            type: "POST",
            data: {
                teach_words: text_adder.words.join(" "),
                teach_targets: tt,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                //alert("it worked");
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}

//fixed the guess2 but not teach2
//need to fix the teach2 and guess2 views so that it uses a new files

function teach2_function()
{
    tt = ""
    counter=0;
    text_adder2.words.forEach(function (r)
    {
        if (document.getElementById("word_label_" + counter.toString()).style.fill == "red")
        {
            tt = tt + " " + "cards";
        }
        else if (document.getElementById("word_label_" + counter.toString()).style.fill == "blue")
        {
            tt = tt + " " +  "renal";
        }
        else if (document.getElementById("word_label_" + counter.toString()).style.fill == "purple")
        {
            tt = tt + " " +  "gi";
        }
        else if (document.getElementById("word_label_" + counter.toString()).style.fill == "green")
        {
            tt = tt + " " +  "pulm";
        }
        else if (document.getElementById("word_label_" + counter.toString()).style.fill == "rgb(255, 128, 0)")
        {
            tt = tt + " " +  "neuro";
        }
        else if (document.getElementById("word_label_" + counter.toString()).style.fill == "rgb(255,105,180)")
        {
            tt = tt + " " +  "heme";
        }
        else
        {
            tt = tt + " " + "none"
        }
        counter = counter + 1;
    });
    $.ajax({
            url: '../t2/',
            type: "POST",
            data: {
                teach_words: text_adder.words.join(" "),
                teach_targets: tt,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(response) {
                //alert("it worked");
            },
            complete: function() {},
            error: function(xhr, textStatus, thrownError) {console.log(thrownError);}
        });
}

function add_text_function()
{
    text_adder.add_text(document.getElementById("target").value, ["text"]);
}

function add_text2_function()
{
    text_adder2.add_text(document.getElementById("target").value, ["text"]);
}
</script>
<div style="display:none">
<input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token" />
</div>
<section class="container">
    <div class="training">
      <h1>enter information</h1>
        <textarea type="textarea" cols="60" rows="30" id="target"></textarea>
        <br>
        <input type="submit" id="btn_display" name="btn_display" value="display" onclick="add_text_function()">
        <input type="submit" id="btn_guess" name="btn_guess" value="guess" onclick="guess_text_function()">
        <br>
        <div id="selectingText"> </div>
        <br>
        <input type="submit" id="btn_train" name="btn_train" value="train" onclick="teach_function()">
        </div>
        
        <br>
        <br>
        <input type="submit" id="btn_display2" name="btn_display2" value="display2" onclick="add_text2_function()">
        <input type="submit" id="btn_guess2" name="btn_guess2" value="guess2" onclick="guess_text2_function()">
        <br>
        <div id="selectingText2"> </div>
        <br>
        <input type="submit" id="btn_train2" name="btn_train2" value="train2" onclick="teach2_function()">
        </div>
        </p>
    </div>
  </section>
    </body>
</html>


