<html>
    <head>
        <style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

</style>
<script type="text/javascript" src="{{STATIC_URL}}d3.js"></script>
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://x3dom.org/x3dom/dist/x3dom-full.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="{{STATIC_URL}}three.min2.js"></script>
<script src="{{STATIC_URL}}d3.js"></script>

<script src="{{STATIC_URL}}protector.js"></script>
<script src="{{STATIC_URL}}CanvasRenderer.js"></script>

<script src="{{STATIC_URL}}stats.min.js"></script>
</head>
    
<body>
<script type="text/javascript" src="{{STATIC_URL}}training.js"></script>
<div style="display:none">
<input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token" />
</div>
<section class="container">
    <div class="training">
      <h1>enter information</h1>
        <p><input type="text" id="target" name="target" value="" placeholder="target"></p>
        <p class="submit"><input type="submit" id="submit" name="commit" value="submit" onclick="return_target()">
        <br>
        <br>
        <textarea type="textarea" cols="60" rows="30" id="answer"></textarea>
        </p>
    </div>
  </section>
    </body>
</html>